<h1 mat-dialog-title>Row Action :: <strong>Edit</strong></h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput type="text" id="name" [(ngModel)]="local_data.personName">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" id="native" [(ngModel)]="local_data.personNative">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" id="amt" [(ngModel)]="local_data.amountdetails" minvalue="0" minlength="0">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">Edit</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
